.bg-color {
  background-color: #e4e4e7;
}
.table-bg-colour{
  color: #ff6600;
}
.scroll-container {
  overflow: hidden;
}
.scroll-text {
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);

  -moz-animation: my-animation 5s linear infinite;
  -webkit-animation: my-animation 5s linear infinite;
  animation: my-animation 10s linear infinite;
}
.scroll-text:hover {
  animation-play-state: paused;
}

.news-links {
  color: black;
  text-decoration: none;
  margin: 10px;
}
.news-links:hover {
  color: blue;
}

.news-link-grp {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 310px;
}

#hod-container{
  height: auto;
}

.carousel-control-prev, .carousel-control-next {
  z-index: 0;
}

@-webkit-keyframes my-animation {
  from { -webkit-transform: translateY(100%); }
  to { -webkit-transform: translateY(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@media (max-width: 630px){
  .nav-hide{
      display: none;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 40px;
  width: 40px;
  outline: rgb(213, 46, 46);
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 20%;
}


